openapi: 3.2.0
info:
  title: Edelweiss Hotel Polyana Availability & Pricing API
  version: 1.0.0
  description: Official public REST API and structured data feeds for Hotel Edelweiss (Polyana resort, Zakarpattia, Ukraine). Provides real-time room tariffs (SSOT 2026), verified Booking.com rating (9.1/10), balneological profile for 'Polyana Kvasova' mineral water, Google Hotel Center XML feed, and search services.
  contact:
    name: Edelweiss Hotel Administration
    url: https://edelweiss-hotel.com.ua/contacts
    email: welcome@edelweiss-hotel.com.ua
  license:
    name: CC BY-ND 4.0
    url: https://creativecommons.org/licenses/by-nd/4.0/
servers:
- url: https://edelweiss-hotel.com.ua
  description: Production server
tags:
- name: Availability & Pricing
  description: Real-time rates and XML listing feeds for Google Hotels & OTA aggregators
paths:
  /api/quote:
    get:
      tags:
      - Availability & Pricing
      summary: Real-time Room Rate & Stay Quote Calculator
      description: Calculates exact cost for a stay given check-in, check-out dates, room type, and optional full-board meals or military discounts.
      operationId: calculateStayQuote
      parameters:
      - name: check_in
        in: query
        required: true
        description: Check-in date (YYYY-MM-DD)
        schema:
          type: string
          format: date
          example: '2026-10-01'
      - name: check_out
        in: query
        required: true
        description: Check-out date (YYYY-MM-DD)
        schema:
          type: string
          format: date
          example: '2026-10-05'
      - name: room
        in: query
        required: false
        description: Room category key or slug ('standart', 'superior-triple', 'classic-lux', 'lux')
        schema:
          type: string
          default: standart
      - name: guests
        in: query
        required: false
        description: Number of guests staying
        schema:
          type: integer
          default: 2
      - name: meals
        in: query
        required: false
        description: Include full board 3 meals/day (600 UAH/person/day)
        schema:
          type: boolean
          default: false
      - name: military
        in: query
        required: false
        description: Apply 10% discount for Armed Forces of Ukraine (AFU/ZSU) servicemen and veterans
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Detailed quote calculation with itemized cost breakdown and direct booking URL
  /api/google-hotels/:
    get:
      tags:
      - Availability & Pricing
      summary: Google Hotel Center XML Feed
      description: Outputs real-time pricing and room listing XML feed compliant with Google Hotels standard schema. Includes live rates, room category codes, capacity, and direct booking URLs.
      operationId: getGoogleHotelsXml
      responses:
        '200':
          description: Valid Google Hotel Center XML feed
          content:
            application/xml:
              schema:
                type: string
                example: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<listings>\n  <entity type=\"hotel\">\n    <hotel_id>edelweiss-polyana</hotel_id>\n    <name>Edelweiss Hotel Polyana</name>\n    <roomtypes>\n      <roomtype id=\"standard-double\"><rate currency=\"UAH\">1100</rate></roomtype>\n    </roomtypes>\n  </entity>\n</listings>"
