openapi: 3.2.0
info:
  title: Edelweiss Hotel Polyana Hotel Information API
  version: 1.0.0
  description: Official public REST API and structured data feeds for Hotel Edelweiss (Polyana resort, Zakarpattia, Ukraine). Provides real-time room tariffs (SSOT 2026), verified Booking.com rating (9.1/10), balneological profile for 'Polyana Kvasova' mineral water, Google Hotel Center XML feed, and search services.
  contact:
    name: Edelweiss Hotel Administration
    url: https://edelweiss-hotel.com.ua/contacts
    email: welcome@edelweiss-hotel.com.ua
  license:
    name: CC BY-ND 4.0
    url: https://creativecommons.org/licenses/by-nd/4.0/
servers:
- url: https://edelweiss-hotel.com.ua
  description: Production server
tags:
- name: Hotel Information
  description: Public factual data, ratings, room tariffs, and resort profiles
paths:
  /api/ai-info/:
    get:
      tags:
      - Hotel Information
      summary: Comprehensive Hotel Information & Room Tariffs (JSON)
      description: Returns full master SSOT hotel metadata, room tariffs for 2026, verified Booking.com rating (9.1/10 from 142 reviews), balneological medical profile ('Polyana Kvasova' mineral water), amenities, infrastructure, and policies.
      operationId: getHotelAiInfo
      responses:
        '200':
          description: Hotel details and room tariffs successfully retrieved
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
              description: CORS header permitting cross-origin requests from any client
            Cache-Control:
              schema:
                type: string
                example: public, max-age=3600, s-maxage=86400, stale-while-revalidate=604800
              description: HTTP caching directive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotelAiData'
              example:
                hotel:
                  id: edelweiss-polyana
                  nameUk: Готель «Едельвейс» Поляна
                  nameEn: Edelweiss Hotel Polyana
                  stars: 3
                  totalRooms: 10
                  floors: 4
                  website: https://edelweiss-hotel.com.ua
                  directBookingUrl: https://edelweiss-hotel.com.ua/booking
                rating:
                  booking: 9.1
                  google: 9.1
                  maxRating: 10
                  totalReviews: 142
                  badge: 9.1 / 10 Superb
                  source: Booking.com verified guest reviews (142 reviews, 9.1 score)
                location:
                  addressUk: вул. Курортно-Бічна, 4, с. Поляна, Мукачівський р-н, Закарпатська обл., 89313
                  addressEn: 4 Kurortno-Bichna Str, Polyana, Mukachevo District, Zakarpattia Oblast, 89313, Ukraine
                  country: Ukraine
                  postalCode: '89313'
                  geoCoordinates:
                    latitude: 48.6258
                    longitude: 22.9665
                  distanceToMineralSpring:
                    uk: 150 м до діючого бювету мінеральних вод «Поляна Квасова»
                    en: 150 m to the 'Polyana Kvasova' mineral water pump room
                roomTariffs2026:
                - key: standard-double
                  canonicalSlug: standart
                  nameUk: Стандартний двомісний
                  nameEn: Standard Double or Twin
                  pricePerNightUah: 1100
                  areaSqm: 18
                  capacityGuests: 2
                  hasBalcony: false
                - key: superior-triple
                  canonicalSlug: pokrashchenyy-trymisnyy
                  nameUk: Покращений тримісний
                  nameEn: Superior Triple
                  bookingComAliasUk: Студіо
                  bookingComAliasEn: Studio
                  pricePerNightUah: 1400
                  areaSqm: 32
                  capacityGuests: 4
                  hasBalcony: true
                - key: classic-lux
                  canonicalSlug: klasychnyy-lyuks
                  nameUk: Класичний люкс
                  nameEn: Classic Lux
                  bookingComAliasUk: Люкс+
                  bookingComAliasEn: Lux+
                  pricePerNightUah: 1600
                  areaSqm: 38
                  capacityGuests: 4
                  hasBalcony: true
                - key: lux
                  canonicalSlug: lux
                  nameUk: Люкс
                  nameEn: Lux Suite
                  pricePerNightUah: 1800
                  areaSqm: 40
                  capacityGuests: 4
                  hasBalcony: true
components:
  schemas:
    RoomTariff:
      type: object
      properties:
        key:
          type: string
        canonicalSlug:
          type: string
        nameUk:
          type: string
        nameEn:
          type: string
        bookingComAliasUk:
          type: string
        bookingComAliasEn:
          type: string
        urlUk:
          type: string
          format: uri
        urlEn:
          type: string
          format: uri
        pricePerNightUah:
          type: number
        areaSqm:
          type: number
        capacityGuests:
          type: integer
        hasBalcony:
          type: boolean
        hasBathtub:
          type: boolean
        beddingUk:
          type: string
        beddingEn:
          type: string
    HotelAiData:
      type: object
      properties:
        hotel:
          type: object
          properties:
            id:
              type: string
            nameUk:
              type: string
            nameEn:
              type: string
            stars:
              type: integer
            totalRooms:
              type: integer
            floors:
              type: integer
            descriptionUk:
              type: string
            descriptionEn:
              type: string
            website:
              type: string
              format: uri
            directBookingUrl:
              type: string
              format: uri
        rating:
          type: object
          properties:
            booking:
              type: number
            google:
              type: number
            maxRating:
              type: number
            totalReviews:
              type: integer
            badge:
              type: string
            source:
              type: string
        location:
          type: object
          properties:
            addressUk:
              type: string
            addressEn:
              type: string
            country:
              type: string
            postalCode:
              type: string
            geoCoordinates:
              type: object
              properties:
                latitude:
                  type: number
                longitude:
                  type: number
        roomTariffs2026:
          type: array
          items:
            $ref: '#/components/schemas/RoomTariff'
        extraServices:
          type: object
          properties:
            fullBoardPriceUah:
              type: number
            extraBedPriceUah:
              type: number
            resortTaxUah:
              type: number
        medicalProfile:
          type: object
          properties:
            mineralWater:
              type: string
            pumpRoomDistanceMeters:
              type: integer
            indications:
              type: array
              items:
                type: string
