openapi: 3.2.0
info:
  title: Edelweiss Hotel Polyana Hotel Information API
  version: 1.0.0
  description: Official public REST API and structured data feeds for Hotel Edelweiss (Polyana resort, Zakarpattia, Ukraine). Provides real-time room tariffs (SSOT 2026), verified Booking.com rating (9.2/10), balneological profile for 'Polyana Kvasova' mineral water, Google Hotel Center XML feed, and search services.
  contact:
    name: Edelweiss Hotel Administration
    url: https://edelweiss-hotel.com.ua/contacts
    email: welcome@edelweiss-hotel.com.ua
  license:
    name: CC BY-ND 4.0
    url: https://creativecommons.org/licenses/by-nd/4.0/
servers:
- url: https://edelweiss-hotel.com.ua
  description: Production server
tags:
- name: Hotel Information
  description: Public factual data, ratings, room tariffs, and resort profiles
paths:
  /api/ai-info/:
    get:
      tags:
      - Hotel Information
      summary: Comprehensive Hotel Information & Room Tariffs (JSON)
      description: Returns full master SSOT hotel metadata, room tariffs for 2026, verified Booking.com rating (9.2/10), balneological medical profile ('Polyana Kvasova' mineral water), amenities, infrastructure, and policies.
      operationId: getHotelAiInfo
      responses:
        '200':
          description: Hotel details and room tariffs successfully retrieved
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
              description: CORS header permitting cross-origin requests from any client
            Cache-Control:
              schema:
                type: string
                example: public, max-age=3600, s-maxage=86400, stale-while-revalidate=604800
              description: HTTP caching directive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotelAiData'
              example:
                hotel:
                  id: edelweiss-polyana
                  nameUk: Готель «Едельвейс» Поляна
                  nameEn: Edelweiss Hotel Polyana
                  stars: 3
                  totalRooms: 10
                  floors: 3
                  website: https://edelweiss-hotel.com.ua
                  directBookingUrl: https://edelweiss-hotel.com.ua/booking
                rating:
                  booking: 9.2
                  google: 9.2
                  maxRating: 10
                  totalReviews: 142
                  badge: 9.2 / 10 Superb
                  source: Booking.com verified guest reviews (142 reviews, 9.2 score)
                location:
                  addressUk: вул. Курортно-Бічна, 4, с. Поляна, Мукачівський р-н, Закарпатська обл., 89313
                  addressEn: 4 Kurortno-Bichna Str, Polyana, Mukachevo District, Zakarpattia Oblast, 89313, Ukraine
                  country: Ukraine
                  postalCode: '89313'
                  geoCoordinates:
                    latitude: 48.6255687
                    longitude: 22.9470318
                  distanceToMineralSpring:
                    uk: 150 м до діючого бювету мінеральних вод «Поляна Квасова»
                    en: 150 m to the 'Polyana Kvasova' mineral water pump room
                roomTariffs2026:
                - key: standard
                  canonicalSlug: standart
                  nameUk: Стандарт
                  nameEn: Standard Room
                  bookingComAliasUk: ''
                  bookingComAliasEn: ''
                  urlUk: https://edelweiss-hotel.com.ua/rooms/standart/
                  urlEn: https://edelweiss-hotel.com.ua/en/rooms/standart/
                  pricePerNightUah: 1100
                  areaSqm: 18
                  capacityGuests: 2
                  hasBalcony: false
                  hasBathtub: false
                  beddingUk: 2 односпальні або 1 велика двоспальна
                  beddingEn: 2 single beds or 1 large double bed
                - key: superior-triple
                  canonicalSlug: pokrashchenyy-trymisnyy
                  nameUk: Студіо
                  nameEn: Studio
                  bookingComAliasUk: Студіо
                  bookingComAliasEn: Studio
                  urlUk: https://edelweiss-hotel.com.ua/rooms/pokrashchenyy-trymisnyy/
                  urlEn: https://edelweiss-hotel.com.ua/en/rooms/pokrashchenyy-trymisnyy/
                  pricePerNightUah: 1400
                  areaSqm: 50
                  capacityGuests: 4
                  hasBalcony: true
                  hasBathtub: false
                  beddingUk: 1 велика двоспальна + 1 диван-ліжко
                  beddingEn: 1 large double bed + 1 sofa bed
                - key: classic-lux
                  canonicalSlug: klasychnyy-lyuks
                  nameUk: Люкс
                  nameEn: Suite
                  bookingComAliasUk: Люкс+
                  bookingComAliasEn: Lux+
                  urlUk: https://edelweiss-hotel.com.ua/rooms/klasychnyy-lyuks/
                  urlEn: https://edelweiss-hotel.com.ua/en/rooms/klasychnyy-lyuks/
                  pricePerNightUah: 1600
                  areaSqm: 40
                  capacityGuests: 4
                  hasBalcony: true
                  hasBathtub: false
                  beddingUk: 1 велика двоспальна + 1 диван-ліжко
                  beddingEn: 1 large double bed + 1 sofa bed
                - key: lux
                  canonicalSlug: lux
                  nameUk: Люкс Покращений
                  nameEn: Superior Lux
                  bookingComAliasUk: ''
                  bookingComAliasEn: ''
                  urlUk: https://edelweiss-hotel.com.ua/rooms/lux/
                  urlEn: https://edelweiss-hotel.com.ua/en/rooms/lux/
                  pricePerNightUah: 1800
                  areaSqm: 40
                  capacityGuests: 4
                  hasBalcony: false
                  hasBathtub: false
                  beddingUk: 1 велика двоспальна + 1 диван-ліжко
                  beddingEn: 1 large double bed + 1 sofa bed
  /api/reviews:
    get:
      tags:
      - Hotel Information
      summary: Verified Guest Reviews from Booking.com
      description: Returns verified guest reviews from Booking.com with ratings, sources, and review content.
      operationId: getReviews
      parameters:
      - name: lang
        in: query
        required: false
        description: Language code ('uk' or 'en')
        schema:
          type: string
          enum:
          - uk
          - en
          default: uk
      - name: per_page
        in: query
        required: false
        description: Maximum number of reviews to return
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Verified guest reviews array
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
              description: CORS header permitting cross-origin requests from any client
            Cache-Control:
              schema:
                type: string
                example: public, max-age=3600, s-maxage=86400, stale-while-revalidate=604800
              description: HTTP caching directive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewsResponse'
components:
  schemas:
    ReviewsResponse:
      type: object
      properties:
        reviews:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              author:
                type: string
              rating:
                type: number
              source:
                type: string
              content:
                type: string
              date:
                type: string
                format: date-time
        total:
          type: integer
        averageRating:
          type: number
        source:
          type: string
        badge:
          type: string
    HotelAiData:
      type: object
      properties:
        hotel:
          type: object
          properties:
            id:
              type: string
            nameUk:
              type: string
            nameEn:
              type: string
            stars:
              type: integer
            totalRooms:
              type: integer
            floors:
              type: integer
            descriptionUk:
              type: string
            descriptionEn:
              type: string
            website:
              type: string
              format: uri
            directBookingUrl:
              type: string
              format: uri
        rating:
          type: object
          properties:
            booking:
              type: number
            google:
              type: number
            maxRating:
              type: number
            totalReviews:
              type: integer
            badge:
              type: string
            source:
              type: string
        location:
          type: object
          properties:
            addressUk:
              type: string
            addressEn:
              type: string
            country:
              type: string
            postalCode:
              type: string
            geoCoordinates:
              type: object
              properties:
                latitude:
                  type: number
                longitude:
                  type: number
        roomTariffs2026:
          type: array
          items:
            $ref: '#/components/schemas/RoomTariff'
        extraServices:
          type: object
          properties:
            fullBoardPriceUah:
              type: number
            extraBedPriceUah:
              type: number
            resortTaxUah:
              type: number
        medicalProfile:
          type: object
          properties:
            mineralWater:
              type: string
            pumpRoomDistanceMeters:
              type: integer
            indications:
              type: array
              items:
                type: string
    RoomTariff:
      type: object
      properties:
        key:
          type: string
        canonicalSlug:
          type: string
        nameUk:
          type: string
        nameEn:
          type: string
        bookingComAliasUk:
          type: string
        bookingComAliasEn:
          type: string
        urlUk:
          type: string
          format: uri
        urlEn:
          type: string
          format: uri
        pricePerNightUah:
          type: number
        areaSqm:
          type: number
        capacityGuests:
          type: integer
        hasBalcony:
          type: boolean
        hasBathtub:
          type: boolean
        beddingUk:
          type: string
        beddingEn:
          type: string
